div{
    padding: 20px;
    border: thin solid red;
}

.myheader {
    background-color: black;
    color: white;
}

.body {
    background-color: green;
    color: aliceblue;
}

.footer {
    background-color: purple;
    color: red;
}

